.option{
  display: grid;
  grid-template-columns: repeat(2,1fr);
}
.questions{
  border: 1px solid lightblue;
  border-radius: 20px;
  padding: 50px 0px;
  margin: 10px;
  color: blueviolet;
}
.questions p{
  border: 1px solid lightcoral;
  border-radius: 20px;
  padding: 10px;
  margin: 10px;
  color: black;
  font-size: 20px;
  font-weight: bold;
  background-color: lightblue;
  cursor: pointer;
}
.questions p:hover{
  background-color: goldenrod;
}
.logoAndname{
  display: grid;
  grid-template-columns: 3fr 1fr;
  justify-items: center;
  margin-bottom: 30px;
}

.logo{
  height: 25px;
}
.logoAndname button{
  background-color: white;
  color: blueviolet;
  text-decoration: none;
  border: none;
}
.logoAndname button:hover{
  color: red;
}
